#clave, #clave a {
    height:75px;
    width: 75px;
    float:left;
    background-size: cover;
    color: rgba(245, 245, 245, 0);
}

#spanner {
    display: flexbox;
    overflow-x: hidden;
    overflow-y: hidden;
    /* height: 150px; */
}

#description {
    padding: 10px;
    font-size: medium;
}

.onhover:hover .iteminfo{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 250px;
    visibility: visible;
    width: 250px;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(0 0 0 / 85%);
}
