#headerTile {
    padding-top: 10px;
    width: 100%;
}
#headerPane {
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.col-0 {
}
.col-1 {
}
.col-2 {
    max-width: 1000px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#headerPane h1 {
    width: 100%;
    text-align: left;
    background-color: transparent;
    font-style: italic;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;

}

@media only screen and (max-width: 768px) { 
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%;
    }
}