.mycoNetNav img {
    text-decoration: none;
    margin-top: 5px;
}
.mycoNetNav a {
    text-decoration: none;
}

.mycoNetNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mycoNetNav img:hover {
    background: #8AB7E0;
}

#mycoNetStatment {
    display: flex;
    justify-content: space-around;
}

#mycoNetLinks {
    display: flex;
    justify-content: center;

}

#mycoNetLinks a {
    padding-left: 25px;
    padding-right: 25px;
}

.contentPanel {
    width: auto;
    height: auto;
    border-radius: 5px;
    margin: 25px;
    margin-top: 0;
    background-color: rgba(190, 176, 147, 1);
    padding-bottom: 25px;
    padding-top: 25px;
}

.contentPanel a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.selector {
    font: bold;
    font-style: italic;
    font-family: "Segoe UI", monospace;
    display: block;
    background-color:#00000021;
    padding-left: 25px;
    padding-right: 25px;
}

.selector span {
    margin: 12px;
    font-weight: 900;
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 25px;
    display: -webkit-inline-box;
    cursor: pointer;
}

.selector span:hover, .selected {
    background-color: #C1CED0;
}



.pane {
    display: inline-grid;
    border-radius: 8px;
    margin: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 280px;
    height: 430px;
    background-color: #E3DBC7;
    grid-gap: 10px;
    position: relative;
}

.pane .sourceIcon {
    position: inherit;
    margin-top:3px;
    height: 52px;
    width: 110px;
    margin-bottom: 10px;
}

.pane #prodImage {
    border-radius: 0;
    height: 220px;
    width: 220px;
    margin: auto;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background: transparent no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.15);
}

.pane .itemDescription {
    font-size:14px;
    color: #8AB7E0;
    padding: 10px;
    padding-top: 0px;
    margin: auto;
    height: 75px;
    width: 220px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
/* #recipeDesc {
    height: 83px;
} */

.dateTime {
    font-size:small;
    margin: auto;
    padding-bottom: 15px;
    color: rgba(32, 8, 8, 0.664);
}

.floaterP {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 243px; left: 0; bottom: auto; right: 0;
    color: white;
}

.rating {
    position: absolute;
    right:5px;
    top: 5px;
}
.rating p {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 0px;
    text-align: center;
}
.rating button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
}

.rating img {
    padding: 3px;
    border-radius: 5px;
}

.rating img:hover {
    background-color: rgba(62, 16, 16, 0.5);
}

.priceTag {
    background-color: rgba(62, 16, 16, 0.5);
    font-size: xx-large;
    padding: 3px;
    border-radius: 5px;
    margin: auto;
    display: inline-block;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
