#prodSKUSelector {
    width: 288px;
    height: 467px;
    background-color: #E3DBC7;
    margin: 10px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#prodSubTypePane {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#prodSubTypePane img {
    height: 200px;
    width:200px;
}
h1 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
dd {
    margin-inline-start: 0px;
}
dl {
    display: flex;
    flex-direction: column;
    align-items: center;
}