#menuItem {
  display: flex;
}
#menuItem img{
}

.topnav {
  background-color: rgba(190, 176, 147, 1);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-items: center
}

.products{
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: wrap;                /* default value; can be omitted */
  /* background-color: lightyellow; */
  justify-content: center;
}
.product-name{
  font-style: italic;
  position: relative;
}
.product-description{
  padding-top: 20px;
  height: auto;
  color: rgba(138, 183, 224, 1);
}

.floater{
  display: flex;
  content: inherit;
  height: 50px;
  justify-content: center;
}
.floater p{
  padding-right: 20px;
  font-size: 14px;
}
.sold{
  color: rgba(255, 0, 0, 0.774);
}
.floater select{
  padding-left: 10px;
}
.description {
  color: rgba(65, 41, 41, 1);
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
}
.price{
  color: rgba(65, 41, 41, 1);
  font-size: 14px;
  font-weight: bold;
}
/* .product-tile img{
 padding: 20px;
 
} */
.product-tile h1 {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.product-tile h2 {
  position: relative;
  font-size: 18px;
}
.product-image{
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 15px;
  width: auto;
  height: 200px;
  background-color:black ;
}

.effect{
 cursor: pointer;
 position: relative;
}

.effect img:hover {
  transform: scale(1.1);
  /* background-image: url(/static/add_cart.png); */
  background-repeat: no-repeat;
  background-position: center;
}
.product-tile {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 7px;
  padding-bottom: 7px;
  margin-top: 15px;
  width: 300px;
  height: auto;
}
.product-tile:hover {
  background-color: rgba(209, 191, 155, 0.5);
  box-shadow: 0 0 20px rgba(148, 135, 110, 0.788);
}
.product-tile:hover .overlay {
  opacity: 1;
}

.product-tile:hover .product-image {
  /* box-shadow: 0 0 20px rgba(15, 14, 11, 0.788); */
  filter: blur(2px);
}

.container {
  position: relative;
  text-align: center;
}

.selected {
  background-color: rgba(209, 191, 155, 0.5);
  box-shadow: 0 0 20px rgba(148, 135, 110, 0.788);
}

#CartMenu {
  position: absolute;
  right: 20px;
  FONT-VARIANT: JIS04;
  padding-bottom: 0px;
  border-radius: 0px 0px 10px 10px;
  text-align: end;
  display: none;
  width: 207px;
  z-index: 3;
  background-color: rgb(226 226 226 / 99%);
  -webkit-box-shadow: 0px 10px 14px 7px rgb(0 0 0 / 26%);
  box-shadow: 0px 10px 14px 7px rgb(0 0 0 / 26%);
}
#cartBottom {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
}
#cartTop {
  padding: 27px;
  padding-top: 50px;
  padding-bottom: 0px;
}
#CartMenu button {
  padding: 7px;
  width: 50%;
  font-size: initial;
}
#checkout-button {
  border-radius: 0px 0px 0px 10px;
  background-color: rgba(138, 183, 224, 1);
}
#clear-cart {
  float: right;
  border-radius: 0px 0px 10px 0px;
  background-color: rgb(247, 140, 108);
}
#cartIcon {
  position: absolute;
  left: 13px;
  top: 13px;
}

.overlay {
  position: absolute;
  transition: .5s ease;
  color: rgb(255, 255, 255);
  font-size: 26px;
  z-index: 1;
  opacity: 0;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 75%;
  display: flex;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  
}
/* Change the color of links on hover
.product-tile:hover {
  background-color: rgb(114, 163, 182);
} */
.overlay p {
  width: 100%;
}
.header {
  display: block;
  top: 0;
  z-index: 2;
}
/* Style the links inside the navigation bar */
.topnav a, .topnav div,  .topnav p, .topnav span{
  /* float: justify; */
  color: black;
  text-align: center;
  text-decoration: none;
  /* padding-right:7%;
  padding-left: 7%; */
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
}
.topnav span {
  display: contents;
}
.topnav p {
  margin: 0px;
}
.ffm {
  width: 66px;
  display: contents;
}
.ffm p {
  margin-right: 20px;
}

.txt_logo {
  padding-top: 5px;
}
/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(1, 19, 33, 1);
  color: white;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
}
/* font was previously Roboto*/
#logo-gif {
  width: 210px;
  margin: 20px;
}

h4 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 5em;
  font-weight: 12;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  /*Create overlap*/
  
  margin: 0;
  line-height: 0;
  /*Animation*/
  animation: glitch1 2s 1;

}

h4:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2s 1;
}

h4:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2s 1;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}