<!doctype html>
{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/equipment.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% for key in rows %}
    <div class="floater">
        <h1>{{key}} <span class="hidePaneControl">-</span></h1>
    </div>
    <div id="spanner">
        {% for item in rows[key] %}
            <div class="onhover" id="clave" style="background-image: url('{{item['img_href']}}');">
                <a href="{{item['link']}}">
                    <div class="iteminfo">
                        <p id='type'>{{item['item_type']}}</p>
                        <p id='price'>{{item['price']}}</p>
                        <p id='description'>{{item['img_alt']}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <br>
{% endfor %}

<script>
    $(".floater").click(function () {
        console.log($(this))
        $header = $(this);
        //getting the next element
        $content = $header.next();
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $content.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of header based on visibility of content div
            $header.find("span").text(function () {
                //change text based on condition
                return $content.is(":visible") ? "-" : "+";
            });
        });
    
    });
</script>
