{% from "_formhelpers.html" import render_field %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<footer class="footer">
    <div id="siteMap">
        <h5>Links</h5>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Products">Products</a></li>
            <li><a href="/Guides">Guides</a>
                <ul class="nestedList">
                    <li><a href="/Guides/Agar-Plates">Agar Plates</a></li>
                    <li><a href="/Guides/Tissue-Culture">Tissue Culture</a></li>
                    <li><a href="/Guides/Seed-Spawn">Grain Spawn</a></li>
                    <li><a href="/Guides/Bulk-Spawn">Bird Seed Spawn</a></li>
                    <li><a href="/Guides/Block">Block</a></li>
                    <li><a href="/Guides/Mushroom-Block">Mushrooms</a></li>
                </ul>
            </li>
            <li><a href="/Identification">Identification</a>
            </li>
        </ul>
    </div>
    <div>
        <h5>Contact Us</h5>
        <form method=post>
            <div id="textArea">
                <dl>
                    {{ render_field(emailForm.email) }}
                </dl>
                <dl>
                    {{ render_field(emailForm.body) }}
                </dl>
            </div>
                <p><input type=submit value="Send"> </p>
        </form>
    </div>
    <div>
        <h5>Social Media</h5>
        <div id="socials">
            <a href="https://www.tiktok.com/@bigfungus.ca" >
                <img id="icon" src ="{{ url_for('static', filename="icons/tiktok.png") }}" alt="TikTok icon"/>
            </a>
            <a href="https://www.instagram.com/bigfungus.ca/" >
                <img id="icon" src ="{{ url_for('static', filename="icons/instagram.png") }}" alt="TikTok icon"/>
            </a>
        </div>
    </div>
    <div id="copyright">    
        <p>
            © <a href="mailto:bigfungus.ca@gmail.com">bigfungus.ca@gmail.com</a>
        </p>
    </div>
</footer>
