<!doctype html>
<html prefix="og: https://ogp.me/ns#" lang="en">

<meta charset="UTF-8">
<title>Mushroom growing: Big Fungus, for all tings fungi</title>

<meta property="og:title" content="Mushroom Growing Recipes Teks and Techniques" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://bigfungus.ca/" />
<meta property="og:image" content="{{ url_for('static', filename='favicon.ico') }}" />
<meta property="og:description" 
  content="Growing mushrooms can be tricky. BigFungus provides you with all the necessary information 
            needed to grow mushrooms indoor and outdoors. Whether you are searching for beginner techniques, 
            obscure teks or anything of the like, bigfungus provides you with vetted protocols and 
            established experience to grow your very own mushrooms at home." 
/>
<meta property="og:site_name" content="Big Fungus">

<meta name="robots" content="max-image-preview:large">
<meta name="description" content="Growing mushrooms can be tricky. BigFungus provides you with all the necessary information needed to grow mushrooms indoor and outdoors. Whether you are searching for beginner techniques, obscure teks or anything of the like, bigfungus provides you with vetted protocols and established experience to grow your very own mushrooms at home.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EHTEQ4E6NG"></script>
<meta name="google-site-verification" content="b4TX8d_iYCuewWMk8AD502m_9dMdQmtzv0l7GvXII2U">
<meta name="thumbnail" content={{ url_for('static', filename='figmaDeploy/logo.png') }}>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EHTEQ4E6NG');
</script>

<title>Big Fungus</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src={{ url_for('static', filename='js/scripts.js') }}></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="header">
    <div class="topnav">
        <a id="menuItem" href="/Home" class='txt_logo' alt="home" alt="home">            
            <img src="{{url_for('static', filename=logo_txt)}}" alt="home" />
        </a>
        {% for page in pages %}
            <a id="menuItem" href="/{{page}}" alt="{{page}}">{{page}}</a>
        {% endfor %}
        <div class="ffm">
            <p onclick="toogleCart()">Cart <span id="CartTotal"> </span></p> 
        </div>
    </div>
    
    <script>
        var currentPage = window.location.href
        var elements = document.querySelectorAll('[id=menuItem]');
        for (const element of elements) {
            if (currentPage.includes(element.href)) {
                element.style["text-decoration"] = "underline"
            }
        }
    </script>

    {% if splash %}
        <div class="logo">
            {% if static_content_figma %}
            <img src="{{url_for('static', filename=static_content_figma)}}" align="middle" />
            {% else %}
            <img src="{{url_for('static', filename='logo.png')}}" align="middle" />
            {% endif %}
        </div>
    {% endif %}
</div>

<form action="/create-checkout-session/" method="POST" name="cart" id="CartMenu" style="display: none;">
    <div id="cartTop">
        <img id="cartIcon" src={{url_for('static', filename='shoppingCart.png')}} alt="shopping cart"/>
        <div id="Cart">
            
        </div>
    </div>
    <div id="cartBottom">
        <button type="submit" id="checkout-button" alt="checkout">Checkout</button>
        <button type="button" id="clear-cart" onclick="clearCart()" alt="clearCart">Clear</button>
    </div>
</form>
<script>refreshCart()</script>
