<!doctype html>
<html prefix="og: https://ogp.me/ns#" lang="en">
<meta name="robots" content="max-image-preview:large">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EHTEQ4E6NG"></script>
<meta name="google-site-verification" content="b4TX8d_iYCuewWMk8AD502m_9dMdQmtzv0l7GvXII2U">

{% if items|length == 1 %}
    {% for item in items %}
        {% set title = item%}
        <title>{{title|safe}}</title>

        <meta property="og:title" content="{{item}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{url_for(request.endpoint, **request.view_args)}}" />
        <meta property="og:image" content="{{url_for('static', filename=items[item]["img_href"]) }}" />
        <meta property="og:description" content="{{"Mushroom growing guide: "}}{{items[item]["desc"]}}" />
        <meta property="og:site_name" content="Big Fungus">
        <meta property="og:locale" content="en_US" />

        <meta name="description" content="{{"Mushroom growing guide: "}}{{items[item]["desc"]}}">
        <meta name="thumbnail" content="{{url_for('static', filename=items[item]["img_href"]) }}">

    {% endfor %}

{% else %}
    {% set title = seo[request.endpoint]["title"]%}
    <title>{{title|safe}}</title>

    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{url_for(request.endpoint, **request.view_args)}}" />
    <meta property="og:image" content="{{ url_for('static', filename='LogoCircle.png') }}" />
    <meta property="og:description" content="{{seo[request.endpoint]["description"]}}" />
    <meta property="og:site_name" content="Big Fungus">
    <meta property="og:locale" content="en_US" />

    <meta name="title" content="{{title}}" >
    <meta name="description" content="{{seo[request.endpoint]["description"]}}">
    <meta name="thumbnail" content={{ url_for('static', filename='LogoCircle.png') }}>

{% endif %}

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-EHTEQ4E6NG');
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="header">
    <div class="topnav">
        <a id="menuItem" href="/Home" class='txt_logo' alt="home" alt="home">            
            <img id="txt_logo" src="{{url_for('static', filename=logo_txt)}}" alt="home"/>
        </a>
        {% for page in pages %}
            <a id="menuItem" href="/{{page}}" alt="{{page}}">{{page}}</a>
        {% endfor %}
    </div>
    
    <script>
        var currentPage = window.location.href.substring(window.location.href.lastIndexOf('/') + 1).replaceAll(' ', '-')

        var elements = document.querySelectorAll('[id=menuItem]');
        
        for (const element of elements) {
            var elementPage = decodeURI(element.href.substring(element.href.lastIndexOf('/') + 1)).replaceAll(' ', '-')
            if (currentPage == elementPage) {
                if (currentPage != "Home") {
                    element.style["background-color"] = "white"
                }
            }
        }
    </script>
</div>

