<!doctype html>
{% include "header.html" %}
<script src={{ url_for('static', filename='js/shop.js') }}></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">

<body>

    <div class="products">
        {% for product in products %}
            <div class="product-tile" id={{ product["name"].replace(' ','-')}} onclick="changeTile(this)">
                <div class="container toggler" >
                    {% if product["image_url"] %}
                    <img class="product-image" alt="product image for {{ product["name"].replace(' ','-')}}" src="{{url_for('static', filename=product["image_url"])}}" align="middle" />    
                    {% endif %}
                    <div class="overlay"><p>See more</p></div>

                </div>

                {% if product["name"] %}
                    
                <h4 class="product-name" alt="{{product["name"]}}">{{ product["name"] }}</h4>
                <h4 class="product-name" alt="{{product["name"]}}">{{ product["name"] }}</h4>
                <h4 class="product-name" alt="{{product["name"]}}">{{ product["name"] }}</h4>

                {% else %}
                <h2 class="product-tile">Name</h2>
                {% endif %}

                {% if product["alt_name"] %}
                <h2 class="product-description">{{ product["alt_name"] }}</h2>
                {% else %}
                <h2 class="product-description">Generic Description</h2>
                {% endif %}

                <div class="floater">
                    {% if product["price"] and  product["uom"]%}
                        <p class="price">$ {{ product["price"] }} X </p>
                            <select name="amount" class="amount" id="{{product['name'].replace(' ','-')}}">
                                {% for amount in distribution_ammounts %}
                                    {% if amount == 1 %}
                                        <option value="{{amount}}">{{amount}} {{product["uom"]}}</option>
                                    {% else %}
                                        <option value="{{amount}}">{{amount}} {{product["uom"]}}s</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                    {% else %}
                        <p class="sold">Sold Out!</p>
                    {% endif %}
                    </div>
                    
                    <div class="effect">
                        <img class="image" src="{{url_for('static', filename="add_cart_clean.png")}}" onclick="addItem({{product}}, '{{product["price_code"]}}','{{product['name'].replace(" ","-")}}')" alt="Add To Cart"/>
                    </div>
            </div>
            
            {% if product["description"] %}
            <div class="toggled_content"style='display:none;'>
                {% if product["image_url_desc"] %}
                    <img class="product-image-desc" src="{{url_for('static', filename=product["image_url_desc"])}}" alt="product image for {{product["name"]}}" align="middle" />    
                {% endif %}
                <div id="textContentDesc">
                    
                    {% if product["title_description"] %}
                        <h1>{{product["title_description"]}}</h1>
                    {% endif %}

                    <p class="description">{{ product["description"] }}</p>

                    {% if product["description2"] %}
                        <p class="description2">{{ product["description2"] }}</p>
                    {% endif %}
                </div>
                
            </div>
            {% endif %}
        
        {% endfor %}
    </div>
</body>