<div class="mycoNetNav" >
    <a href="/Mushroom/Grow-Guides" style="text-decoration: none;" alt="Growing Guides">
        <p {% if 'Grow-Guides' == mycNet %}class="selectedMycNet"{% endif %}>Growing Guides</p>
    </a>
    <a href="/Mushroom/Identification" style="text-decoration: none;" alt="Recipe Scraper">
        <p {% if 'Identification' == mycNet %}class="selectedMycNet"{% endif %}>Identification</p>
    </a>
    <!-- <a href="/Mushroom/Equipment" style="text-decoration: none;" alt="Equipment Scraper">
        <p {% if 'Equipment' == mycNet %}class="selectedMycNet"{% endif %}>Equipment</p>
    </a>
    <a href="/Mushroom/Recipes" style="text-decoration: none;" alt="Recipe Scraper">
        <p {% if 'Recipes' == mycNet %}class="selectedMycNet"{% endif %}>Recipe</p>
    </a> -->
</div>