<!doctype html>
{% include "header.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/mycoNet.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/teks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/headerPane.css') }}">

<script src={{ url_for('static', filename='js/mycoNet.js') }}></script>
<script src={{ url_for('static', filename='js/lazyBackground.js') }}></script>

{% if items|length > 1 %}
<div>
    <div id="headerPane" class="row">
        <div class="col-0">
            <h1>Learn How to Grow High Quality Gourmet and Medicinal Mushrooms.</h1>
        </div>
        <div class="col-1">
            <img id="headerTile" src="{{ url_for('static', filename='operation.png') }}" alt="Example of a mushroom to Identify"></img> 
        </div>
        <div class="col-2">
            <h3>Growing mushrooms can be as easy as you want to make it. The following recipes describe a range of teks used by all sorts of mushrooms growers and enthusiasts around the world.</h3>
            <p>The following tiles link to the individual procedures for you to try. Please feel free to use our amazon affiliate link to support this website. The products they linked to only serve as visual reference and are by no means the best approach for commercial operations.</p>
        </div>
    </div>
</div>
{% endif %}
<div class="flexfloater bgfullcolor">
<div class="contentPanel">
    <div id="content">
        {% for item in items %}
            <div class="paneWrap" data="{{items[item]["item_type"]}}">
                <a href="/Mushroom/Growing/Guides/{{item.replace(' ', '-')}}" alt="{{item}}">

                    <div class="pane">
                            <img class="sourceIcon" src ="{{ url_for('static', filename=items[item]["website"]+'.png') }}" alt="Guide source icon"></img> 
                            <p id="tektitle">{{item}}</p>
                            <img id="prodImageTek" class="tekDisplay" style="" src ="{{ url_for('static', filename=items[item]["img_href"]) }}" alt="Guide image"/>

                            <div class="floaterPTek">
                                <p class="priceTag">Material & Setup <br>{{items[item]['price']}}</p>
                            </div>
                        <p class="itemDescription tek">{{items[item]['shortDesc']}}</p>
                        <p class="dateTime">Expertise level: {{items[item]["level"]}}</p>
                    </div>
                </a>
               
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% for item in items %}
    {% if items|length > 1 %}
        <h1 class="tektile">{{item}}</h1>
    {% endif %}
    <div id="images" class="flexfloater flexwrap" alt="A set of images depicting the process"> 
        {% for image in items[item]['images'] %}
        <img src="{{ url_for('static', filename=image) }}"></img> 
        {% endfor %}
    </div>
    <div class="flexfloater cc">
        <h2 id="procedureDescription">{{items[item]["desc"]|safe}}</h2>
        <ol>
            {% for step in items[item]['steps'] %}
                <li>{{step|safe}}</li>
            {% endfor %}
        </ol>
    </div>
{% endfor %}
{% include "footer.html" %}

