<div class="mycoNetNav" >
    <a href="/Myco-NET/GrowGuides" style="text-decoration: none;" alt="Growing Guides">
        <img {% if 'GrowGuides' == mycNet %}class="selectedMycNet"{% endif %} src="{{ url_for('static', filename='mycoGrowGuides.png') }}">
    </a>
    <a href="/Myco-NET/Equipment" style="text-decoration: none;" alt="Equipment Scraper">
        <img {% if 'Equipment' == mycNet %}class="selectedMycNet"{% endif %} src="{{ url_for('static', filename='mycoEquipmentIcon.png') }}">
    </a>
    <a href="/Myco-NET/Recipes" style="text-decoration: none;" alt="Recipe Scraper">
        <img {% if 'Recipes' == mycNet %}class="selectedMycNet"{% endif %} src="{{ url_for('static', filename='mycoRecipesIcon.png') }}">
    </a>
</div>