<!doctype html>
{% include "header.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/mycoNet.css') }}">
<script src={{ url_for('static', filename='js/mycoNet.js') }}></script>
<script src={{ url_for('static', filename='js/lazyBackground.js') }}></script>

{% include "mycoNetNav.html" %}

<div class="contentPanel">
    {% if 'Equipment' == mycNet %}
        <div class="selector">
            {% for key in keywords %}
                <a href="/Myco-NET/Equipment/{{key}}">
                    <span {% if key == itemType %}class="selected"{% endif %}>{{key}}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <div id="content">
        {% if 'Equipment' == mycNet %}
            {% for item in items %}
                <div class="paneWrap" data="{{item["item_type"]}}">
                        <div class="pane">
                            <div class="rating">
                                <form action= "/vote/{{mycNet}}/{{item["item_type"]}}" id='voting' name='voting' method="POST">
                                    <p>{{item['rating']}}</p>
                                    <button type="image" name="voteUp" src="{{ url_for('static', filename='arrowUp.png') }}" value="{{item['id']}}" data="Equipment"  alt="up">
                                        <img src="{{ url_for('static', filename='arrowUp.png') }}">
                                    </button>
                                    <button type="image" name="voteDown" src="{{ url_for('static', filename='arrowUp.png') }}" value="{{item['id']}}" data="Equipment"  alt="up">
                                        <img src="{{ url_for('static', filename='arrowDown.png') }}">
                                    </button>
                                </form>
                            </div>
                            <img class="sourceIcon" src="{{ url_for('static', filename=item["website"]+'.png') }}"> 
                            <div id="prodImage" class="lazy" data ="background-image: url('{{item['img_href']}}')" style=""></div>
                                <div class="floaterP">
                                    <p class="priceTag">$ {{item['price']}}</p>
                                </div>
                            </img>
                            <a href="{{item['link']}}" target="_blank">
                                <p class="itemDescription">{{item['img_alt']}}</p>
                            </a>
                            <p class="dateTime">Date Scrapped: {{item["date_scrapped"]}}</p>
                        </div>
                </div>
            {% endfor %}

        {% elif 'Recipes' in mycNet %}
            {% for item in items %}
            <a href="{{item['link']}}" target="_blank">
                <div class="pane">
                    <div class="rating">
                        <form action= "/vote/{{mycNet}}/{{item["item_type"]}}" id='voting' name='voting' method="POST">
                            <p>{{item['rating']}}</p>
                            <button type="image" name="voteUp" src="{{ url_for('static', filename='arrowUp.png') }}" value="{{item['id']}}" data="Equipment"  alt="up">
                                <img src="{{ url_for('static', filename='arrowUp.png') }}">
                            </button>
                            <button type="image" name="voteDown" src="{{ url_for('static', filename='arrowUp.png') }}" value="{{item['id']}}" data="Equipment"  alt="up">
                                <img src="{{ url_for('static', filename='arrowDown.png') }}">
                            </button>
                        </form>
                    </div>
                    <img class="sourceIcon" src="{{ url_for('static', filename=item["website"]+'.png')}}"> 
                    <div id="prodImage" class="lazy" data ="background-image: url('{{item['img_href']}}')" style=""></div>
                    <p id="recipeDesc" class="itemDescription">{{item['title']}}</p>
                    <p class="dateTime">Date Scrapped: {{item["date_scrapped"]}}</p>
                </div>
            </a>
            {% endfor %}
        {% endif %}

    </div>
</div>
</html>
                
