<!doctype html>
{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mycoNet.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/teks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/identification.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/headerPane.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src={{ url_for('static', filename='js/lazyBackground.js') }}></script>

{% if items|length > 1 %}
    <div id="headerPane" class="row">
        <div class="col-0">
            <h1>Learn How to Identify Any Mushroom in the Wild.</h1>
        </div>
        <div class="col-2">
            <h3>Identifying mushrooms in the wild can be tricky. The following shapes can be used to narrow things down. These icons are reproductions from various sources.</h3>
            <p>Always be careful and respectful of the flora when gathering. Some mushrooms are poisonous, all depictions shown here come with no data on edibility. These images are only intended for identifications as they relate to observing biodiversity and nothing else. As an old saying goes: There are old mycologists, and a bold mycologists, but there are no old bold mycologists.</p>
        </div>
    </div>
{% endif %}
<div class="flexfloater bgfullcolor">
    <div class="contentPanel">
        <div id="content">
            {% for item in items %}
                <div class="paneWrap" data="{{items[item]["item_type"]}}">
                    <a href="/Mushroom/Identification/{{item.replace(' ', '-')}}" alt="{{item}}">

                        <div class="pane">
                                <img class="sourceIcon" src ="{{ url_for('static', filename=items[item]["website"]+'.png') }}" alt="Guide source icon"></img> 
                                <img id="prodImageTek" class="tekDisplay" style="" src ="{{ url_for('static', filename=items[item]["img_href"]) }}" alt="Guide image"/>
                                <p id="item">{{items[item]["item_type"]}}</p>
                                <p class="dateTime">Division: {{items[item]["division"]|safe}}</p>
                        </div>
                    </a>
                
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% for item in items %}
    <h1>{{item.replace('-', ' ')}}</h1>
    <div class="flexfloater aliceblue"> 
        <div id="shapes" alt="shapes"> 
            {% for shape in items[item]['shapes'] %}
                <div id="shapeContainer">
                    <img id="shapeImage" src="{{ url_for('static', filename='identification/'+ shape[1] + '.png') }}"/>
                    <p id="shapeName">{{shape[0]}}</p>
                </div>
                {% endfor %}
        </div>
    </div>
    <ol>
        {% for step in items[item]['steps'] %}
            <li>{{step|safe}}</li>
        {% endfor %}
    </ol>
{% endfor %}
{% include "footer.html" %}
