<!doctype html>
{% include "header.html" %}
{% from "_formhelpers.html" import render_field %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">

<body>
    <div class="content">
        <form method=post>
        {% for prodType in products %}
        <h1>{{prodType["type"]}}</h1>

        <div id="prodSubTypePane">
            {% for subType in prodType["subTypes"] %}
                <div id="prodSKUSelector">
                    <h2>{{subType["subType"]}}    ({{subType["cost"]}}$)</h2>
                    <img id={{subType["subType"]}} src ="" alt="Guide image" onerror="this.src='/static/product_images/out_of_stock.png';"/>
                    
                    <h3>{{subType["description"]}}</h3>

                    <dl class="changeImage">
                        {{ render_field(form|attr(subType["formMapping"])) }}
                    </dl>
                        
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        </form>
    </div>
    {% include "footer.html" %}
    <script>
        $('.changeImage select').change(function(e){
            $(e.currentTarget).parent().parent().parent().find('img').attr('src', this.value)
        });
        $('select').each(function() {
            $(this).parent().parent().parent().find('img').attr('src', this.value)
        });
    </script>
</body>